@page
@model AboutModel
@{
    ViewData["Title"] = "Om sidan";
}
<h2>@ViewData["Title"]</h2>

<strong>Om mig</strong>
<p>Hej jag heter Samuel Ward och jag studerar Webbprogrammering på Mittuniversitetet.</p>


