@page
@model PrivacyModel
@{
    ViewData["Title"] = "Razor";
}
<h2>@ViewData["Title"]</h2>

<strong>Information</strong>
<p>Datum/klockslag: <span id="dateandtime"></span></p>
<p>Idag är det <span id="dayotw"></span>!</p>

<strong>Kurser jag har läst</strong>
<ul id="courses">

</ul>
